image: frekele/gradle:2.14.1-jdk8u102

pipelines:
  branches:
    master:
      - step:
          script:
            - gradle build bintrayUpload
    development:
      - step:
          script:
            - gradle build bintrayUpload
